<nav class="navbar navbar-custom">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/img/batman-logo.png" width="65" height="45" alt="">
    </a>
    <h3 style="color: white; position: relative; right: 520px">Superhéroes</h3>
    <ul class="navbar-nav">

        <li class="nav-item" routerLinkActive="active">
            
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opciones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/heroes">Superhéroes</a>
            </div>
        </li>
        </ul>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      </ul>
    </div>
</nav>