<h1>Superhéroes <small>Marvel y DC</small></h1>
<br>

<div class="container">
    <!-- Card que contiene a heroe -->
    <div class="card-columns">
        <div class="card animated fadeIn fast" style="width: 18rem;">
            <img [src]="heroe.img" class="card-img-top" >
            <div class="card-body">
            <h5 class="card-title">Nombre Héroe 1</h5>
            <p class="card-text"><small class="text-muted">Texto sobre el heroe...</small></p>
            </div>
            <a class= "btn btn-outline-primary btn-block">Ver más</a>
        </div>
    </div>

    

</div>